body {
    font-family: Helvetica sans-serif;
    padding: 0;
    margin: 0;
    background-color: #222;
    overflow: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
         -o-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.info {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 15px;
    color: #eee;
    font-size: 13px;
    background-color: rgba(0, 0, 0, .5);
}

.social i {
  color:#f3f3f3;
  position:relative;
  left:2px;
}

.social i.bump {
  margin-bottom:20px;
}

.social {
  position:fixed;
  top:40px;
  left:20px;
  font-family: 'Roboto', sans-serif;
  color:#fefefe;
  font-size:large;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding:20px;
}

.boy img {
  width:270px;
}

.boy {
  position:absolute;
  right:0px;
  top:0px;
  height:100%;
}
